@import "../../colors.scss";

#main-wrapper {
  position: relative;
}
#main-img {
  width: 100%;
}
#main-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    $mainColor,
    rgba(255, 255, 255, 0.5)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-quote {
  color: $white;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}
#main-contact-btn {
  background: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  height: 10%;
  width: 15%;
}
