@import "../../colors.scss";

#header-wrapper {
  background: $mainColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: $white;
  font-size: 20px;
}
#header-phone {
  margin: 10px;
}
#header-navbar {
  display: flex;
}
.header-link {
  margin-right: 10px;
  padding: 3px 7px 3px 7px;
  display: flex;
  border-radius: 5px;
}
