@import "../../colors.scss";

#header-wrapper {
  background: $mainColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
}
#header-logo {
  height: 20vw;
}
#header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: $white;
  font-size: 1.5vw;
}
#header-phone {
  margin: 1vw;
}
#header-navbar {
  display: flex;
  height: 10%;
}
.header-link {
  margin-right: 1vw;
  padding: 0.1vw 0.3vw 0.1vw 0.3vw;
  display: flex;
  border-radius: 5px;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    font-size: 1.6vw;
  }
}
