@import "../../colors.scss";

#testimonials-wrapper {
  background: $mainColor;
  color: $white;
  display: flex;
}
#testimonial-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#testimonial-logo-wrapper {
  margin-top: 3%;
  width: 15%;
}
#testimonial-logo {
  width: 100%;
}
#testimonial-company,
#testimonial-description {
  text-align: center;
}
#testimonial-company {
  font-size: 2.2rem;
  margin: 1.5%;
}
#testimonial-description {
  width: 60%;
  font-size: 1.2rem;
  margin-bottom: 4%;
}
